<!-- Top most nav bar -->
<div class="tst">
<div class="meta" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
  <div class="inner_copy">
    <a href="http://ecommercebuilders.blogspot.com/2015/10/best-free-ecommerce-website-builders.html">http://ecommercebuilders.blogspot.com/2015/10/best-free-ecommerce-website-builders.html</a>
  </div>
  <div class="metalinks">
    <a href="#"><img src="images/meta1.gif" alt="" width="15" height="14" /></a>
    <a href="#"><img src="images/meta2.gif" alt="" width="17" height="14" /></a>
    <a href="#"><img src="images/meta3.gif" alt="" width="17" height="14" /></a>
    <a href="#"><img src="images/meta4.gif" alt="" width="15" height="14" /></a>
  </div>
  <p>Recruiters: <a href="#">Log in</a> or <a href="#">Find out more</a></p>
</div>

<nav class="navbar navbar-default navbar-static-top">
  <div id="header" style="height: 50px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
    <a href="index.html" class="logo"><img src="images/logo.jpg" alt="setalpm" width="149" height="28" /></a>
    <span class="slogan">Your Key to Success</span>

    <div class="container-fluid">
      <ul class="menu">
        <li><a [routerLink]="['/']"><span class="iconic home"></span> Home</a></li>
        <li><a [routerLink]="['/products-list']"><span class="iconic map-pin"></span>Employer</a>
          <ul>
            <li><a [routerLink]="['/products-list']">Product List</a></li>
            <li><a [routerLink]="['/register-product']">Register Products</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/']"><span class="iconic magnifying-glass"></span>Employee</a>
          <ul>
            <li><a [routerLink]="['/register-employee']">Register</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <!--li><a [routerLink]="['/makeProfile']">Create Profile</a></li-->
          </ul>
        </li>
        <li><a [routerLink]="['/products-list']"><span class="iconic map-pin"></span>About Us</a>
        </li>
      </ul>
      <!--<div class="clearfix"></div>-->

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="fb-button" href="#">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false"
                 data-auto-logout-link="true"></div>
          </a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
    <!--img src="images/bigpicture.jpg" alt="" width="892" height="303" /-->
  </div>
</nav>
</div>
<!-- End of top most nav bar -->
